<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete cart items</title>
</head>
<body>
    <form action="/del" method="post">
        Enter item name to delete:
        <br>
        <input type="text" name="itemname">
        <input type="submit" value="Delete Item">
        <br>
        view your current cart items <a href="/cart">here</a>
    </form>
</body>
</html>