<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .main{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap:10px;
        }
        .product-box{
            width: 70vw;
            height: auto;
            border: 2px solid black;
            border-radius: 30px;
            padding: 30px;
        }
    </style>
</head>
<body>
    <h1>Homepage</h1>
    <div class="main">
        <p><% products.map(product=>{ %></p>
            <div class="product-box">
            <p><%= product.name %></p>
            <p><%= product.description %></p>
            <span>Price: $<%= product.price %></span> <span><%= product.category %></span>
            </div>
        <% }); %>
    </div>
</body>
</html>